<%= render "/shared/header"%>
<div class="main">

<%# 趣味一覧表示 %>
<% if user_signed_in?%>
  <div class="hobby_side">趣味を追加
    <div class="hobby_add_delete">
      <%= form_with url:hobbies_path, local: true do |f| %>
      <%= f.text_field :hobby_name, placeholder:"趣味を入力", class:"hobby_add_form"%>
      <%= f.submit "追加", class:"hobby_add_btn"%>
      <% end%>
    </div>

    <% current_user.hobbies.each do |hobby| %>
    <div class="hobbies">
      <div class="hobby_name"><%= link_to hobby.hobby_name, hobby_scores_path(hobby.id) %></div>
    </div>
    <% end%>
  </div>
<% end %>
<%# /趣味一覧表示 %>

<%# スコア一覧表示 %>
  <div class="score_side">
    <div class="top">
      <div class="title"><%= @hobby.hobby_name %></div>
    </div>
    <div class="middle">
      <div class="todays_score">今日のスコア</div>
      <%= form_with model:[@hobby,@score], class:"form", local: true do |f| %>
        <div>自分のスコア</div>
        <%= f.text_field :your_score, placeholder: "半角数字で入力" %>
        <div>相手のスコア(任意)</div>
        <%= f.text_field :rival_score, placeholder: "半角数字で入力"%>
        <div><%= f.submit "送信"%></div>
      <% end%>
    </div>
    <div class="bottom">
      <div class="upper">記録一覧</div>
      <div class="lower">
        <div class="date">2020/11/15</div>
        <div class="results">100</div>
      </div>
      <div class="lower">
        <div class="date">2020/11/22</div>
        <div class="results">101</div>
      </div>
      <div class="lower">
        <div class="date">2020/11/29</div>
        <div class="results">95</div>
      </div>
    </div>
  </div>
<%# /スコア一覧表示 %>  
</div>
