<header class="header">
<div>
  <%= link_to image_tag("kirokul_logo.png",class:"kilokul_btn"), root_path %>
</div>
<div>
  <% if user_signed_in?%>
  <ul class="logins">
    <li class="login"><%= link_to current_user.nickname, "#", class:"login_str"%></li>
    <li class="login"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"login_str"%></li>
  </ul>
  <% else %>
  <ul class="logins">
    <li class="login"><%= link_to "簡単ログイン", "#", class:"login_str"%></li>
    <li class="login"><%= link_to "新規登録", new_user_registration_path, class:"login_str"%></li>
    <li class="login"><%= link_to "ログイン", new_user_session_path, class:"login_str"%></li>
  </ul>
  <% end %>
</div>
</header>